{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Новый отзыв{% endblock %}

{% block content %}
<div class="container pt-3">
    <h2 class="container__title">Мой отзыв о {{ watch.title }}</h2>
    <form class="feedback content" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="content__button">
            <button class="btn btn-green" type="submit">Добавить отзыв</button>
        </div>
    </form>
</div>
{% endblock %}