{% load range_tags %}

<div class="col-lg-10 offset-lg-1">
    <div id="client-testimonial-carousel" class="carousel slide"
         data-ride="carousel" style="height:200px">
        <div class="carousel-inner" role="listbox">
            {% for feedback in feedbacks %}
                <div class="carousel-item {% if forloop.first %} active{% endif %} text-center p-4">
                    {% if show_model %}
                        <a href="{{ feedback.watch.get_absolute_url }}">
                            <h4 class="mb-3"> Отзыв на модель: {{ feedback.watch }} </h4>
                        </a>
                    {% endif %}
                    <p class="mb-2"><i class="fa fa-quote-left"></i> {{ feedback.text|truncatewords:50 }} </p>
                    <footer class="blockquote-footer">{{ feedback.author }} <cite>{{ feedback.created_at }}</cite></footer>
                    <!-- Client review stars -->
                    <p class="client-review-stars">
                        {% for i in feedback.rating|feedback_full_stars %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {% for i in feedback.rating|feedback_empty_stars %}
                            <i class="far fa-star"></i>
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>