{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Войти{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mt-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
          <h1>Войти</h1>

          <p>Если у вас еще нет аккаунта, пожалуйста, сначала
          <a href="{% url 'clients:register' %}">зарегистрируйтесь</a>
          </p>

          <form class="login" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
{#            <a class="btn btn-default" href="{% url 'password_reset' %}">Забыли пароль?</a>#}
            <button class="btn btn-primary" type="submit">Войти</button>
          </form>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
