{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Зарегистрироваться{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mt-4">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>Зарегистрироваться</h1>
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
            <form class="signup" id="signup_form" method="post" action="{% url 'clients:register' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <button class='btn btn-primary' type="submit"> Зарегистрироваться</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
