{% extends 'base.html' %}
{% block head_title %}О нас{% endblock %}
{% block content %}
    <div class="container pt-3">
        <h2>О компании</h2>
        <p>
            Интернет-магазин основан в 1999 году!!! Работаем с часами с 1994
            года!
            Самые большие розничные салоны по представленному в них
            ассортименту.
        </p>
        <p> Контактный телефон: +7 (555) 555-55-55</p>

        <h2>Адреса самовывоза</h2>
        <ul class="list-group mb-3 z-depth-1">
            {% for address in addresses %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>{{ address }}</div>
                </li>
            {% empty %}
                <p>Пока нет доступных адресов :(</p>
            {% endfor %}
        </ul>
    </div>
{% endblock %}