{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Каталог {% endblock %}
{% block extra_head %}
    <style>
        /* The sidebar menu */
        .sidebar {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0;
            left: 20px;
            overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 70px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
        }

        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 60px;
            right: 20px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 15px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s; /* If you want a transition effect */
            padding: 0 0 40px 100px;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <span class="navbar-brand">Фильтры:</span>
        <form action="" method="get">
            <div class="row wow fadeIn">
                <button class="btn btn-sm btn-primary" type="submit">
                    Применить
                </button>
                <a class="btn btn-sm btn-default"
                   href="{% url 'core:catalog' %}">Сбросить</a>
            </div>
            {{ filter.form|crispy }}
            <div class="row wow fadeIn">
                <button class="btn btn-sm btn-primary" type="submit">
                    Применить
                </button>
                <a class="btn btn-sm btn-default"
                   href="{% url 'core:catalog' %}">Сбросить</a>
            </div>
        </form>
    </div>
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Фильтры
        </button>
        <section class="text-center mt-4 mb-4">

            <div class="row wow fadeIn">

                {% for item in filter.qs %}
                    <div class="col-lg-3 col-md-6 mb-4">

                        <div class="card">

                            <div class="overlay text-center">
                                <a href="{{ item.get_absolute_url }}">
                                    <img src="{{ item.image.url }}"
                                         class="card-img-top"
                                         style="height: 20rem; width: auto;">
                                </a>
                            </div>

                            <div class="card-body text-center">
                                <h5>
                                    <strong>
                                        <a href="{{ item.get_absolute_url }}"
                                           class="dark-grey-text">{{ item.title }}</a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong> {{ item.price.price }}
                                        ₽ </strong>
                                </h4>

                            </div>

                        </div>

                    </div>
                {% empty %}
                    <p> По вашему запросу ничего не найдено :( Попробуйте
                        изменить параметры поиска</p>
                {% endfor %}
            </div>

        </section>
        <!--Section: Products v.3-->

        <!--Pagination-->

        {% if is_paginated %}
            <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <a class="page-link"
                           href="?page={{ page_obj.number }}">{{ page_obj.number }}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

    </div>
{% endblock content %}

{% block extra_scripts %}
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
            document.getElementById("main").style.marginLeft = "300px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
{% endblock %}

