{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Подтвердить заказ{% endblock %}

{% block content %}
  <main >
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Подтверждение заказа</h2>
      <div class="row">
        <div class="col-md-8 mb-4">
          <div class="card">
            <form method="POST" class="card-body">
              {% csrf_token %}
{#                {{ form }}#}


                <h3>Выберите адрес самовывоза</h3>

                <div class="d-block my-3">
                {% for choice in form.fields.pickup_address.queryset %}
                    <div class="custom-control custom-radio">
                      <input id="{{ choice.address }}" name="pickup_address" value="{{ choice.pk }}" type="radio" class="custom-control-input" required>
                      <label class="custom-control-label" for="{{ choice.address }}">{{ choice.address }}</label>
                    </div>
                {% endfor %}
              </div>

              <h3>Выберите способ оплаты</h3>

              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Подтвердить заказ</button>

            </form>

          </div>

        </div>

        <div class="col-md-4 mb-4">
          {% include "order_snippet.html" %}
        </div>

      </div>

    </div>
  </main>

{% endblock content %}