{% extends "base.html" %}

{% block head_title %}Watch-commerce{% endblock %}

{% block content %}

    <div id="myCarousel" class="carousel slide carousel-fade"
         data-ride="carousel">
    <div class="carousel-inner">
        {% for object in object_list %}
            <div class="carousel-item {% if forloop.first %} active{% endif %}">
                <div class="mask flex-center">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-5 col-12 order-1 text-center">
                                <img src="{{ object.image.url }}"
                                     class="mx-auto" alt="slide">
                            </div>
                            <div class="col-md-7 col-12 order-2">
                                <h4>{{ object.title }}</h4>
                                <p>{{ object.description }}</p>
                                <a href="{{ object.get_absolute_url }}"
                                   class="btn btn-dark btn-md my-2">
                                    Подробнее
                                </a>
                                <a href="{{ object.get_add_to_cart_url }}"
                                   class="btn btn-primary btn-md my-0">
                                    Добавить в корзину
                                    <i class="fas fa-shopping-cart ml-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a class="carousel-control-prev" href="#myCarousel" role="button"
           data-slide="prev"> <span class="carousel-control-prev-icon"
                                    aria-hidden="true"></span> <span
                class="sr-only">Previous</span> </a> <a
            class="carousel-control-next" href="#myCarousel" role="button"
            data-slide="next"> <span class="carousel-control-next-icon"
                                     aria-hidden="true"></span> <span
            class="sr-only">Next</span> </a>
    </div>
    <!--slide end-->
    <div class="row d-flex justify-content-center wow fadeIn ">
        <div class="container">
            {% include 'analytics/feedbacks.html' %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script nonce="">
        $('#myCarousel').carousel({
            interval: 6000,
        })
    </script>
{% endblock %}