{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">Watch-commerce</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect"
                       href="{% url 'core:catalog' %}">Каталог
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect"
                       href="{% url 'core:about' %}">О нас
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect"
                           href="{% url 'clients:base_profile' %}">
                            <span class="clearfix d-none d-sm-inline-block"> Личный кабинет ({{ request.user }})</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'core:order-summary' %}"
                           class="nav-link waves-effect">
                            <span class="badge red z-depth-1 mr-1"> {{ request.user|cart_item_count }} </span>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Корзина </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect"
                           href="{% url 'logout' %}">
                            <span class="clearfix d-none d-sm-inline-block"> Выход </span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect"
                           href="{% url 'login' %}">
                            <span class="clearfix d-none d-sm-inline-block"> Войти </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-effect"
                           href="{% url 'clients:register' %}">
                            <span class="clearfix d-none d-sm-inline-block"> Зарегистрироваться </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>