{% extends "base.html" %}
{% block head_title %}Корзина{% endblock %}
{% block content %}
    <main>
        <div class="container mt-3">

            <div class="table-responsive text-nowrap">
                <h2>Заказ</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название модели</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Итого</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order_item.item.title }}</td>
                            <td>{{ order_item.item.price.price }} ₽</td>
                            <td>
                                <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                                        class="fas fa-minus mr-2"></i></a>
                                {{ order_item.quantity }}
                                <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i
                                        class="fas fa-plus ml-2"></i></a>
                            </td>
                            <td> {{ order_item.get_final_price }} ₽
                                <a style='color: red;'
                                   href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                                    <i class="fas fa-trash float-right"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan='5'>Ваша корзина пуста</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class='btn btn-primary float-right'
                                   href='{% url "core:catalog" %}'>Вернуться в
                                    магазин</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if object.get_total_price %}
                        <tr>
                            <td colspan="4"><b>Итого</b></td>
                            <td><b>{{ object.get_total_price }} ₽</b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class='btn btn-warning float-right ml-2'
                                   href='{% url "core:checkout" %}'>Подтвердить
                                    заказ</a>
                                <a class='btn btn-primary float-right'
                                   href='{% url "core:catalog" %}'>Вернуться в
                                    магазин</a>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>

            </div>

        </div>
    </main>

{% endblock content %}


