<div class="col-md-12 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Ваша корзина</span>
    <span class="badge badge-secondary badge-pill">{{ order.items.count }}</span>
    </h4>
    <ul class="list-group mb-3 z-depth-1">
    {% for order_item in order.items.all %}
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <h6 class="my-0">{{ order_item.quantity }} x {{ order_item.item.title}}</h6>
        </div>
        <span class="text-muted">{{ order_item.get_final_price }} ₽</span>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex justify-content-between">
        <span>Итого</span>
        <strong>{{ order.get_total_price }} ₽</strong>
    </li>
    </ul>
</div>

