{% extends "base.html" %}

{% block head_title %}Детали продукта{% endblock %}

{% block content %}

    <div class="container dark-grey-text mt-5">

        <!--Grid row-->
        <div class="row wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 mb-4 overlay text-center">
                <img src="{{ object.image.url }}" class="img-fluid" alt="">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">

                <!--Content-->
                <div class="p-5">

                    <h3> {{ object.brand.name }} </h3>

                    <p class="lead font-weight-bold">{{ object.title }}</p>
                    <p class="lead">
                        <strong> {{ object.price.price }} ₽ </strong>
                    </p>

                    <a href="{{ object.get_add_to_cart_url }}"
                       class="btn btn-primary btn-md my-0 p">
                        Добавить в корзину
                        <i class="fas fa-shopping-cart ml-1"></i>
                    </a>
                    {% if client_has_ordered_model %}
                        <a href="{% url 'analytics:feedback_new' slug=object.slug %}"
                           class="btn btn-green btn-md my-0 p">
                            Оставить отзыв
                        </a>
                    {% endif %}
                </div>
                <!--Content-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn">

            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Описание</h4>
                <p>{{ object.description }}</p>
            </div>
            <!--Grid column-->
            <div class="col-md-6 text-center">
                                <h4 class="my-4 h4">Характеристики</h4>
                <table class="table text-center">
                    <tbody>
                    <tr>
                        <th scope="row">Тип механизма</th>
                        <td>{{ object.mechanism }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Стекло</th>
                        <td>{{ object.glass }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Цвет браслета</th>
                        <td>{{ object.band.color }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Материал браслета</th>
                        <td>{{ object.band.material }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Цвет корпуса</th>
                        <td>{{ object.case.color }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Материал корпуса</th>
                        <td>{{ object.case.material }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Страна производитель
                        </th>
                        <td>{{ object.brand.country }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Гарантия</th>
                        <td>{{ object.brand.warranty }} Год
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn ">
            <div class="container">
                {% include 'analytics/feedbacks.html' %}
            </div>
        </div>
    </div>

{% endblock content %}
