{% extends "registration/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Редактировать данные{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <section class="mt-4 ">
        <div class="row wow fadeIn">
          <div class='col-6 offset-3'>
            <h1>Редактировать данные</h1>
            <form class="edit-profile" id="editprofile_form" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button class='btn btn-primary' type="submit"> Сохранить изменения</button>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
