{% extends 'base.html' %}

{% block head_title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h2>Личный кабинет</h2>
        <div class="pt-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="current-orders-tab"
                       data-toggle="tab" href="#current-orders" role="tab"
                       aria-controls="current-orders" aria-selected="true">Активные
                        заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="past-orders-tab" data-toggle="tab"
                       href="#past-orders" role="tab"
                       aria-controls="past-orders"
                       aria-selected="false">Завершенные заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab"
                       href="#info" role="tab" aria-controls="info"
                       aria-selected="false">Личная информация</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="current-orders"
                     role="tabpanel" aria-labelledby="current-orders-tab">
                    <div class="container">

                        <div class="table-responsive text-nowrap">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Номер заказа</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Способ оплаты</th>
                                    <th scope="col">Адрес самовывоза</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in current_orders %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ order.ref_code }}</td>
                                        <td>{{ order.get_total_price }} ₽</td>
                                        <td>{{ order.get_payment_display }}</td>
                                        <td>{{ order.pickup_address }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan='5'>Нет активных закзов
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <a class='btn btn-primary float-right'
                                               href='{% url "core:catalog" %}'>Вернуться
                                                в магазин</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="past-orders" role="tabpanel"
                     aria-labelledby="past-orders-tab">
                    <div class="container">

                        <div class="table-responsive text-nowrap">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Номер заказа</th>
                                    <th scope="col">Цена</th>
                                    <th scope="col">Способ оплаты</th>
                                    <th scope="col">Адрес самовывоза</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in past_orders %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ order.ref_code }}</td>
                                        <td>{{ order.get_total_price }} ₽</td>
                                        <td>{{ order.get_payment_display }}</td>
                                        <td>{{ order.pickup_address }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan='5'>У вас еще нет прошедших
                                            заказов
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <a class='btn btn-primary float-right'
                                               href='{% url "core:catalog" %}'>Вернуться
                                                в магазин</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="info" role="tabpanel"
                     aria-labelledby="info-tab">
                    <!--Grid row-->
                    <div class="row d-flex justify-content-center wow fadeIn ">
                        <div class="col-md-8">
                            <br>
                            <h3> Текущие данные: </h3>
                            <br>
                            <div class="tab-pane fade show active" id="home"
                                 role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>ФИО</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ client.firstname }} {{ client.lastname }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>E-mail</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ client.email }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Телефон для связи</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ client.phone }}</p>
                                    </div>
                                </div>
                                <a class='btn btn-primary'
                                   href='{% url 'clients:edit_profile' pk=client.id %}'>редактировать</a>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                </div>
            </div>
        </div>

    </div>
{% endblock %}